# this is the requirements .txt file

#movies
python-dotenv
requests
Pillow
Matplotlib
datetime

# this is the requirements .txt file
#testing
pytest

#Others:
pandas
plotly

#Web Application
flask


# server production
gunicorn